<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InserirCliente</servlet-name>
        <servlet-class>controller.InserirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>controller.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlerarCliente</servlet-name>
        <servlet-class>controller.AlerarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirMenu</servlet-name>
        <servlet-class>controller.InserirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarMenu</servlet-name>
        <servlet-class>controller.AlterarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirMenu</servlet-name>
        <servlet-class>controller.ExcluirMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirPerfil</servlet-name>
        <servlet-class>controller.InserirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfil</servlet-name>
        <servlet-class>controller.AlterarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirPerfil</servlet-name>
        <servlet-class>controller.ExcluirPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarServico</servlet-name>
        <servlet-class>controller.AlterarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirServico</servlet-name>
        <servlet-class>controller.InserirServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirServico</servlet-name>
        <servlet-class>controller.ExcluirServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirFuncionario</servlet-name>
        <servlet-class>controller.InserirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFuncionario</servlet-name>
        <servlet-class>controller.ExcluirFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionario</servlet-name>
        <servlet-class>controller.AlterarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCliente</servlet-name>
        <servlet-class>controller.LoginCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFuncionario</servlet-name>
        <servlet-class>controller.LoginFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <servlet-class>controller.GerenciarMenuPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarFuncionarioServico</servlet-name>
        <servlet-class>controller.GerenciarFuncionarioServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarAgendamento</servlet-name>
        <servlet-class>controller.GerenciarAgendamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarPagamento</servlet-name>
        <servlet-class>controller.ConfirmarPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarAgendamento</servlet-name>
        <servlet-class>controller.CancelarAgendamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarRealizacaoServico</servlet-name>
        <servlet-class>controller.ConfirmarRealizacaoServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirAgendamento</servlet-name>
        <servlet-class>controller.ExcluirAgendamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraSituacaoUsuario</servlet-name>
        <servlet-class>controller.AlteraSituacaoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarStatus</servlet-name>
        <servlet-class>controller.AlterarStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InserirCliente</servlet-name>
        <url-pattern>/inserir_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/excluir_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlerarCliente</servlet-name>
        <url-pattern>/alterar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirMenu</servlet-name>
        <url-pattern>/inserir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarMenu</servlet-name>
        <url-pattern>/alterar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirMenu</servlet-name>
        <url-pattern>/excluir_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirPerfil</servlet-name>
        <url-pattern>/inserir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfil</servlet-name>
        <url-pattern>/alterar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirPerfil</servlet-name>
        <url-pattern>/excluir_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarServico</servlet-name>
        <url-pattern>/alterar_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirServico</servlet-name>
        <url-pattern>/inserir_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirServico</servlet-name>
        <url-pattern>/excluir_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirFuncionario</servlet-name>
        <url-pattern>/inserir_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFuncionario</servlet-name>
        <url-pattern>/excluir_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionario</servlet-name>
        <url-pattern>/alterar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCliente</servlet-name>
        <url-pattern>/login_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFuncionario</servlet-name>
        <url-pattern>/login_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <url-pattern>/gerenciar_menu_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarFuncionarioServico</servlet-name>
        <url-pattern>/gerenciar_funcionario_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarAgendamento</servlet-name>
        <url-pattern>/gerenciar_agendamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarPagamento</servlet-name>
        <url-pattern>/confirmar_pagamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarAgendamento</servlet-name>
        <url-pattern>/cancelar_agendamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarRealizacaoServico</servlet-name>
        <url-pattern>/confirmar_realizacao_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirAgendamento</servlet-name>
        <url-pattern>/excluir_agendamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraSituacaoUsuario</servlet-name>
        <url-pattern>/altera_situacao_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarStatus</servlet-name>
        <url-pattern>/alterar_status.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
